body {
  font-family: "PT Sans", sans-serif;
  position: relative;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: grey;
}

body::before {
  z-index: -5;
  content: "";
  position: fixed;
  background-image: url("./images/pexels-pixabay-531880.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
}
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  min-height: 100vh;
}
footer {
  width: 100%;
  margin-top: 20px;
  background-color: rgba(209, 231, 221, 0.8);
}
footer div {
  margin: 20px;
  text-align: center;
  color: #ffa32b !important;
  font-weight: bold;
}
h1 {
  margin-bottom: 20px;
}
h1,
h2,
nav {
  font-family: "PT Serif", serif;
}
h1,
h2,
.loading {
  backdrop-filter: blur(5px);
  display: inline-block;
  color: #e6d168;
  font-weight: bold;
  text-shadow: 3px 6px 6px rgba(0, 0, 0, 0.7);
}

.loading,
.error-api {
  font-size: 36px;
}
.error-api {
  color: red;
}
.city-title {
  display: flex;
  align-items: center;
}
.fa-star {
  color: rgba(0, 0, 0, 0.6);
  font-size: 24px;
  margin-left: 10px;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  margin-bottom: 5px;
}
.fa-star:hover {
  cursor: pointer;
  color: rgba(255, 215, 0, 1);
  text-shadow: 0;
  transform: scale(1.2);
}

.star-favorite {
  color: rgba(255, 215, 0, 1);
}

.fa-long-arrow-up {
  color: red;
}

.contact__container {
  max-width: 500px;
  margin: auto;
  background-color: rgba(209, 231, 221, 0.6) !important;
  border-radius: 5px;
  padding: 20px;
}
.forecast-container {
  gap: 20px;
  justify-content: center;
  transition: 0.3s !important;
}

form label {
  font-weight: bold;
}

.form__url-input {
  display: flex;
}

.active {
  font-weight: bold;
  color: #ffa32b !important;
}

.navbar {
  background-color: #d1e7dd !important;
  box-shadow: 3px 3px 6px rgb(0 0 0 / 0.4);
  margin-bottom: 40px;
}

.card {
  background-color: rgba(184, 234, 188, 0.8);
  transition: 0.8s;
  cursor: pointer;
  position: relative;
}
.card__dropdown {
  padding: 0;
}
.card__feature,
.card__feature:hover {
  background-color: rgba(184, 234, 188, 0.9);
  font-weight: bold;
  border: none;
  padding: 5px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card__feature > * {
  padding: 5px 10px !important;
}
.card__feature div {
  flex: 1 1 0px;
}

.card__title,
.card__feature img {
  padding: 0 !important;
  height: 40px;
  width: 40px;
}

.card-subtitle,
.card-title {
  font-weight: bold;
}
.card__collapse {
  padding: 10px 10px;
}

.card:hover {
  box-shadow: none !important;
  background-color: #b2ffb7;
}
.card:hover .weatherImg {
  background: rgba(142, 244, 245, 1);
}
.card-expand {
  background-color: #b2ffb7;
  width: 37rem !important;
}
.card-details-text {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.card-details-text {
  text-align: center;
  flex: 1;
}

.card-temperatur {
  color: rgba(173, 23, 8, 1);
  font-weight: bold;
}

.weatherImg {
  transition: 1.2s;
  width: 75px;
  height: 75px;
  border-radius: 10px;
  background: rgba(142, 244, 245, 0.6);
}

.card-details {
  display: flex;
  justify-content: space-between;
}

.region-failed {
  font-size: 1.3em;
  font-weight: bold;
  color: black;
}

.error-input {
  color: #ffea30;
  font-weight: bold;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.6);
}

/* Chart and Current - Home */
.card-current-home {
  flex: 0.6;
}
.card-current-home .card-details-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card-current-home img {
  margin: auto;
}

.card-current-home,
.chart-wrapper {
  margin: auto;
  cursor: default;
}
.home-currentAndGraph {
  display: flex;
  width: 100%;
  margin: 20px auto;
  gap: 20px;
}
.chart-wrapper {
  flex: 1;
}

.card-title__current-desktop {
  text-align: center;
}

/* Chart */

.chart-wrapper {
  width: 70% !important;
}

canvas {
  width: 0;
  height: 0;
  overflow-x: scroll;
  background-color: rgba(184, 192, 208, 0.7);

  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
}

@media only screen and (max-width: 1400px) {
  .home-currentAndgraph {
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .chart-wrapper {
    width: 100% !important;
  }
}
@media only screen and (max-width: 1000px) {
  .container {
    max-width: 90%;
  }
  .home-currentAndGraph {
    flex-direction: column-reverse;
  }
  .card-current-home .card-details-text {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .chart-wrapper {
    width: 80% !important;
  }
}

@media only screen and (max-width: 800px) {
  .chart-wrapper {
    width: 100% !important;
  }
  .home__currentWeather {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home__current-img {
    display: none;
  }
  @media only screen and (max-width: 700px) {
    .weatherImg {
      height: 50px;
      width: auto;
    }
    .card {
      width: 100% !important;
    }
    .forecast-container {
      gap: 10px;
    }
    .home_currentWeather-wrapper {
      min-width: 90% !important;
    }
  }

  @media only screen and (max-width: 500px) {
    .container {
      max-width: 100%;
    }
    .card__feature div:nth-child(1),
    .feature__arrow {
      flex: 0.6 !important;
    }
  }
  @media only screen and (max-width: 400px) {
    /* .chart-wrapper {
      display: none;
    } */
  }
}
